<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

  
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
      .form-container {
        width: 500px;
        margin: 100px auto;
        background-color: #fff;
        padding: 50px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        text-align: center;
      }
      .form-header {
        margin-bottom: 50px;
      }
      .form-header h2 {
        font-weight: bold;
        font-size: 32px;
      }
      .form-header p {
        font-size: 16px;
        margin-bottom: 30px;
      }
      .form-footer {
        text-align: center;
        margin-top: 30px;
      }
      .form-footer a {
        color: #2196f3;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
      }
      .username{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #2196f3;
      }
    </style>
  </head>

  <body>
    {{>header1}}
    <div class="form-container">
      <div class="form-header">
        <h2>Congratulations!</h2>
        <p>You have successfully Logged IN.</p>
        <br>
        <h2 class="username">{{user}} !!</h2>
      </div>
      <div class="form-footer">
        <h3>Welcome 🥳</h3>
         
      </div>
    </div>
  </body>
 
</html>